/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    background-color: white;
}
.skills .col label {
    font-size: 18px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.skills .col {
    margin-bottom: 10px;
    line-height: 0.6;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.headbanner {
    height: 500px;
    background-image: url(../static/images/cover.jpg);
    background-position: center bottom;
    background-size: cover;
    margin-bottom: 40px;
    background-repeat: no-repeat;
}
